@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap') * {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
    /* Is it working or not ! that's why add background color
    background-color: aqua; */
}

p {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
}

button {
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    border: none;
    font-size: 20px;
    padding: 15px 28px;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background: #c6284a;
}

.container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
}

/* for header design */
header ,#hot-deal{
    background-color: rgba(229, 84, 115, 0.10);
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner .banner-text {
    margin-bottom: 32px;
    max-width: 525px;
}

.banner .banner-text h1 {
    color: #272727;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* Feature section  */
.section-heading {
    max-width: 445px;
    text-align: center;
    margin: 20px auto;
}

.section-heading h2 {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    margin-bottom: 16px;
}

#featured {
    padding: 100px 0;
}

.section-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: end;
}

.section-content .flower .flower-img {
    background-color: #d57d90;
    border-radius: 300px 300px 0px 0px;
    padding: 30px 15px 0;
    height: 500px;
    display: flex;
    align-items: end;
}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .pink {
    background: rgba(167, 33, 98, 0.15);
}

.section-content .flower .blue {
    background: rgba(5, 151, 160, 0.15);
}

.section-content .flower .red {
    background: rgba(71, 125, 17, 0.15);
}

.section-content .flower p {
    color: #272727;
    text-align: center;
    margin-top: 16px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    /* 145.833% */
    text-decoration-line: underline;
}

/* business-policy section */
#service{
    padding: 90px 0;
}
#service .container{
    background: rgba(114, 47, 47, 0.245);
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 60px;
}

#service .container.policy .policy-img img{
margin: 65px 80px;
margin-bottom: 0;
}

#service .container .policy p {
    color: rgba(39, 39, 39, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 35px;
    /* 145.833% */
}
/* hot-deal design */
.hot-deal-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 0;
}
#hot-deal .hot-deal-text *{
    margin-bottom: 24px;
}
#hot-deal .hot-deal-text{
    width: 75%;
    max-width: 550px;
    text-align: center;
}
#hot-deal .hot-deal-text h2{
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
#hot-deal .hot-deal-img{
    max-width: 318px;
}
#hot-deal .hot-deal-text h2 .important{
    color: #E55473;
}